<div id="tudo">
	<div class="logo-evento">
		<img src="stylesheets/img/xamarin-logo.png" alt="">
	</div>
	<div class="conteiner" ng-controller="SorteioCtrl as vm">
		<h1>{{vm.title}}</h1>
		<form>
			<div class="row">
				<label for="">E-mail</label>
				<input type="text" name="email" id="email" ng-model="vm.email">
			</div>
			<div class="row">
				<button type="button" class="bt-participar" ng-click="vm.enviarEmail(vm.email)" ng-disabled="vm.block">
					PARTICIPAR
				</button>
			</div>
		</form>
	</div>
</div>
