*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto,sans-serif;
	border: 0;
}

:focus {
	outline: 0;
}

html, body {
	height:100%;
}
* html #tudo {
	height:100%;
}
body{
	background: #333;
}
.main{
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	color: #fff;
	padding-bottom: 20px;
	background: url("./img/background1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.logo-evento {
	text-align: center;
	padding: 30px 15px;
}
.logo-evento img{
	max-width: 100%;
	height: auto;
}
.conteiner{
	width: 90%;
	margin: 20px auto;
	max-width: 400px;
}

.row,.conteiner h1{
	margin-bottom: 1em;
}
.conteiner h1{
	text-align: center;
}
label{
	display: block;
	font-weight: normal;
	font-size: 1.15em;
}
input{
	width: 100%;
	height: 60px;
	border: none;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 1.25em;
	padding: 0 1%;
	background: none;
}

.bt-participar{
	height: 60px;
	color: #fff;
	background: none;
	border:1px solid #fff;
	width: 100%;
	font-size: 1.25em;
	letter-spacing: 1px;
	cursor: pointer;
}

.bt-cancelar{
	height: 60px;
	color: #fff;
	background: #d9534f;
	border:1px solid #d9534f;
	width: 100%;
	font-size: 1.25em;
	letter-spacing: 1px;
	cursor: pointer;
}

#loading{
	left: 0;
	top: 0;
}
#sphere {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	-webkit-radius: 50px;
	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(191,191,191,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(191,191,191,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(191,191,191,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(191,191,191,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(191,191,191,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(191,191,191,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbfbf', GradientType=1 );
	left: 50%;
	top: 50%;
	margin-left: -25px;
	margin-top: -25px;
}
.ganhador{
	background: #4e772c;
    text-align: center;
    color: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 10%;
    left: 0;
    top: 0;
}
.perdedor{
	background: #c40f0f;
	text-align: center;
    color: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
    padding-top: 10%;
    left: 0;
    top: 0;
}
.ganhador img, .perdedor img{
	max-width: 100%;
	height: auto;
	margin-bottom: 1.5em;
}
.animacaoBolinha {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: animacao; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: animacao;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animacao {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes animacao {
    0%   {left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255);
    background-image: none;
    color: rgb(0, 0, 0);
}
